
<% content_for :body_class do %>login_or_signup<% end %>

<h1>Bring your ebooks back into the real world with Virtual Bookcase</h1>

<a href="<%=get_oauth_url%>">
  <%= image_tag("goodreads-login-button.png", :alt => "goodreads login button") %>
</a>

<h2>Already have a Virtual Bookcase account? Welcome back!</h2>
<div>
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email%>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log in" %>
    <% end %>
  </div>
</div>
