<p id="notice"><%= notice %></p>

<div class="bookshelf group">
  <% @user.books.each do |book| %>
    <div class="book2" style="background-color:<%=book.spine_colour%>;
    height: <%=book.height%>px; width: <%= book.width%>px">
      <div class="rotate2" style="width: <%=book.height%>px; color:<%=book.font_colour%>">
        <span class="title"><%= book.title %></span> <br/>
        <span class="author"><%= book.author %></span>
      </div>
      <div class="shelf" style="width: <%= book.width+20%>px">
      </div>
    </div>
  <% end %>
</div>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</p>
