<p id="notice"><%= notice %></p>
<div class="bookshelf group">
  <% @user.books.each do |book| %>
    <div class="book" id=<%=book.id%> style="background-color:<%=book.spine_colour%>;
    height: <%=(book.height/450)*40%>em; width: <%= book.width%>px">
      <div class="spine_text" style="color:<%=book.font_colour%>">
        <% if book.text_orientation == "rotated_all"%>
          <div class="rotate" style="width: <%=book.height%>px">
            <span class="title"><%= book.title %></span> <br/>
            <span class="author"><%= book.author %></span>
          </div>
        <% elsif  book.text_orientation == "standard"%>
          <div class="standard">
            <span class="title"><%= book.title %></span>
            <span class="author"><br/><%= book.author %></span>
          </div>
        <% end %>
      </div>
      <div class="shelf">
      </div>
    </div>
  <% end %>
</div>

<p>
  <% if logged_in? %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Log out', logout_path, method: :delete  %>
  <% else %>
    <%= link_to 'Create your own bookshelf', new_user_path %> |
    <%= link_to 'Log in', login_path %>
  <% end %>
</p>
