<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Goodreads:</strong>
  <%= @user.goodreads_id %>
</p>

<div class="bookshelf group">
  <% @user.books.each do |book| %>
    <div class="book">
      <div class="rotate">
        <%= book.title %> <br/>
        <%= book.author %>
      </div>
    </div>
  <% end %>
</div>

<p>
  <br/>
  <br/>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</p>
