<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Goodreads:</strong>
  <%= @user.goodreads_id %>
</p>

<table>
<% @user.books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
